.footer {
    width: 100%;
    position: relative;
   background-color: rgb(255, 166, 0);
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-icon {}

.footer-icon-img-instagram,
.footer-icon-img-github,
.footer-icon-img-email,
.footer-icon-img-telegram {
    width: 30px;

}



@media screen and (max-width:576px) {
    .footer-icon {
        width: 40%;
        padding-left: 30%;
        padding-right: 30%;
    }

    .footer-manufacturer {
        text-align: center;
        font-weight: 900;
        letter-spacing: 10px;
    }

    .footer-allrights {
        text-align: center;
        font-weight: 400;
        font-size: 10px;
    }
}

@media screen and (min-width:576px) {
    .footer-icon {
        width: 30%;
        padding-left: 35%;
        padding-right: 35%;
    }

    .footer-manufacturer {
        text-align: center;
        font-weight: 900;
        letter-spacing: 15px;
    }

    .footer-allrights {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
    }
}

@media screen and (min-width:768px) {
    .footer-icon {
        width: 20%;
        padding-left: 40%;
        padding-right: 40%;
    }

    .footer-manufacturer {
        text-align: center;
        font-weight: 900;
        letter-spacing: 20px;
    }

    .footer-allrights {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
    }
}

@media screen and (min-width:992px) {
    .footer-icon {
        width: 10%;
        padding-left: 45%;
        padding-right: 45%;
    }
}

@media screen and (min-width:1200px) {
    .footer-icon {
        width: 10%;
        padding-left: 45%;
        padding-right: 45%;
    }
}