<div class="footer" id="footer">
    <div class="footer-icon" id="footer-icon">
        <a href="">
            <img class="footer-icon-img-instagram" id="footer-icon-img-instagram" src="assets/images/icon/instagram.png"
                alt="instagram">
        </a>
        <a href=""><img class="footer-icon-img-email" id="footer-icon-img-email" src="assets/images/icon/email.png"
                alt="email"></a>
        <a href=""><img class="footer-icon-img-github" id="footer-icon-github-img" src="assets/images/icon/github.png"
                alt="github"></a>
    </div>
    <div class="footer-manufacturer" id="footer-manufacturer">{{'footer.mahyarniknaddaf'|translate}}</div>
    <div class="footer-allrights" id="footer-allrights">{{'footer.allrights'|translate}}</div>
</div>