.projects {}

.projects-items {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 1;
    top: 100px;
    background-image: url('/assets/images/background-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;    border-radius: 30px;
}

.projects-items-programming,
.projects-items-lighting {
    margin-left: 10%;
}

.projects-outlet {
    margin-top: 50px;
    padding: 1%;
}


a:hover{
    padding-bottom: 2px;
    border-bottom:3px solid white ;
    color: white;
}


@media screen and (max-width:576px) {
    .projects-items {
        width: 40%;
        left: 30%;
    }

    .projects-items-programming,
    .projects-items-lighting {
        margin-left: 5%;
    }
}

@media screen and (min-width:576px) {
    .projects-items {
        width: 30%;
        left: 35%;
    }
    .projects-items-programming,
    .projects-items-lighting {
        margin-left: 10%;
    }
}

@media screen and (min-width:768px) {
    .projects-items {
        width: 30%;
        left: 35%;
    }
    .projects-items-programming,
    .projects-items-lighting {
        margin-left: 15%;
    }
}

@media screen and (min-width:992px) {
    .projects-items {
        width: 20%;
        left: 40%;
    }
    .projects-items-programming,
    .projects-items-lighting {
        margin-left: 10%;
    }
}

@media screen and (min-width:1200px) {
    .projects-items {
        width: 20%;
        left: 40%;
    }
    .projects-items-programming,
    .projects-items-lighting {
        margin-left: 15%;
    }
}