<div class="header" id="header">
    <div class="header-home" id="header-home"><a [routerLink]="['/']">{{"header.home"|translate}}</a>
    </div>
    <div class="header-projects" id="header-projects">
        <a [routerLink]="['/projects']"> {{"header.projects"|translate}}</a>
    </div>
    <div class="header-aboutus" id="header-aboutus"><a [routerLink]="['/aboutus']">{{"header.aboutus"|translate}}</a>
    </div>

    <div class="header-contactus" id="header-contactus"><a
            [routerLink]="['/contactus']">{{"header.contactus"|translate}}</a>
    </div>
</div>